body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.resume-info {
  background-color: lightseagreen;
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  font-size: 1.10rem;
}

h1, h2 , p ,ul,input{
  margin: 0;
}
.resume-general-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightpink;
  padding: 2em;
  gap: 1em;

}

.resume-general-info div {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.education-info, .experience-info {
  margin: 2em;
  /* background-color: aliceblue; */
}

.education-info h2 , .experience-info h2 {
  background-color: lightsalmon;
  text-align: center;
  padding: 5px;
}

.education-info div, .experience-info div {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin-top: 1em;
  gap: 5px;
}


.fill-in {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.fill-in h2 {
  text-align: center;
}
.general-info {
  background-color: lightcoral;
}

.input-experience , .input-education, .general-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  gap: 1em;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column; 
}

ul {
  padding: 0;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.input-experience ul, .input-education ul{
  border-bottom: 1px solid red;
  padding-bottom: 1em;
}
.input-experience {
  background-color: lightblue;
}

.input-education {
  background-color: lightgreen;
}

input, button {
  padding: 5px;
  font-size: 1rem;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
}